body {
  background-color: #1b1d1e;
}

nav{
  text-align: center;
}

footer {
  background-color: #1b1d1e;
  color: #c8c8c5;
  text-align: center;
}

.container {
  background-color: #c8c8c5;
  padding: 0px;
}

main {
  margin: 20px;
}
.current {
  color: green;
}